.person {
  .person_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.83rem 1.5rem 0rem;
    .person_detail_box {
      width: 100%;
      padding: 1.67rem 1.33rem;
      border-radius: 2.5rem;
      border: 1px solid #9aa8d9;
      .set_name {
        display: flex;
        align-items: center;
        color: #fff;
        font-family: "Clash Display";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 1rem;
        img {
          margin-left: 0.83rem;
        }
      }
      .person_detail_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #7685bc;
        font-family: "Clash Display";
        font-size: 1.16667rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.67rem;
        .value {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: #fff;
          text-align: right;
          font-family: "Clash Display";
          font-size: 1.16667rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          .ant-tooltip-inner {
            border-radius: 0.83333rem;
            background: #f4f4f4;
            .tip {
              color: #000;
              font-family: "Clash Display";
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .ant-tooltip-arrow::before {
            background-color: #fff;
          }
        }
      }
      .invite_box {
        border-radius: 0.83333rem;
        background: #0d1a4e;
        padding: 1.33rem 1.17rem;
        margin-top: 1rem;
        .invite_title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #7685bc;
          font-family: "Clash Display";
          font-size: 1.33333rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5rem; /* 112.5% */
          div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: #7685bc;
            font-family: "Clash Display";
            font-size: 1.16667rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem; /* 128.571% */
          }
        }
        .invite_link {
          margin-top: 0.83rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          font-family: "Clash Display";
          font-size: 1.33333rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.5rem; /* 112.5% */
          word-break: break-all;
          img {
            width: 2rem;
            height: 2rem;
            margin-left: 1rem;
            aspect-ratio: 1/1;
          }
        }
      }
    }
    .data_box {
      width: 100%;
      margin: 1.67rem 0px 0px;
      padding: 1.67rem 1.33rem;
      border-radius: 0.83333rem;
      background: rgba(255, 255, 255, 0.08);
      .data_title {
        color: #fff;
        font-family: "Clash Display";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .data_items {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0.92rem;
        grid-row-gap: 0.92rem;
        .data_item {
          border-radius: 0.83333rem;
          background: #0d1a4e;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 1rem 0.83rem;
          .data_item_left {
            width: 2.5rem;
            height: 2.5rem;
            flex-shrink: 0;
            margin-right: 0.5rem;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .data_item_right {
            color: #7685bc;
            font-family: "Clash Display";
            font-size: 1.16667rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            .value {
              margin-top: 0.33rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              img {
                width: 1.33333rem;
                height: 1.33333rem;
              }
              span {
                color: rgba(255, 255, 255, 0.9);
                font-family: "Clash Display";
                font-size: 1.16667rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.16667rem;
                margin: 0px 0.17rem;
                word-break: break-all;
              }
            }
          }
        }
      }
      .mount_address {
        border-radius: 1.33333rem;
        border: 0.5px solid #9aa8d9;
        padding: 1.17rem 1.33rem;
        margin: 1.58rem 0px 1.17rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #7685bc;
        font-family: "Clash Display";
        font-size: 1.16667rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        div {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: #fff;
          text-align: right;
          font-family: "Clash Display";
          font-size: 1.16667rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .pledge_data_items {
        border-radius: 1.33333rem;
        border: 0.5px solid #9aa8d9;
        padding: 2.24rem 1.33rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pledge_data_item {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;

          .title {
            color: #0d1a4e;
            font-family: "Clash Display";
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 0.5rem;
            border-radius: 0.66667rem;
            background: #d5daff;
          }
          .value {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.83rem;
            img {
              width: 1.66667rem;
              height: 1.66667rem;
            }
            div {
              margin: 0px 0.33rem;
              color: #fff;
              text-align: center;
              font-family: "Clash Display";
              font-size: 1.66667rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }
        .line {
          width: 0.04167rem;
          height: 3.5rem;
          background: #9aa8d9;
        }
      }
    }
  }
}
