.consume {
  position: relative;
  .star3 {
    position: absolute;
    top: 23rem;
    left: 1.5rem;
    z-index: -1;
  }
  .consume_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.17rem 1.5rem 3.5rem;
    .consume_title {
      width: 100%;
      padding: 0rem 1.5rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .consume_title1 {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          font-family: "Inter";
          font-size: 1.66667rem;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
           
         color: #0140E7;
          padding: 0px 0.83rem;
        }
        img {
          width: 1.66667rem;
          height: 1.54892rem;
        }
      }
      .star1 {
        position: absolute;
        bottom: 2.58rem;
        left: 4.92rem;
      }
      .star2 {
        position: absolute;
        bottom: 1.42rem;
        right: 3.92rem;
      }
    }
    .buy_item {
      width: 100%;
      border-radius: 1.33333rem;
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.05),
        -8px 0 14.9px 0 rgba(205, 229, 253, 0.7) inset;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.33rem 1.17rem 0.83rem;
      margin-bottom: 1.17rem;
      .buy_item_left {
        width: 10.5rem;

        img {
          width: 100%;
          height: 9.5rem;
        }
      }
      .buy_item_right {
        flex: 1;
        margin-left: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .value {
          font-family: "Inter";
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
           text-align: center;
         color: #0140E7;
        }
        .price {
          width: 100%;
          margin: 1.33rem 0px 0.75rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #000;
          font-family: "Inter";
          font-size: 1.16667rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
           
          span {
            img {
              width: 1.66667rem;
              height: 1.66667rem;
              margin-right: 0.33rem;
            }
            color: #000;
            font-family: "Inter";
            font-size: 1.16667rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
             
          }
        }
        .btns {
          display: flex;
          align-items: center;
          justify-content: center;
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 4.33rem;
            color: #000;
            text-align: center;
            font-family: "Inter";
            font-size: 1.16667rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
             
            background: url("../../assets/image/Home/btn_bg.png") no-repeat
              center / 100% 100%;
          }
          .view {
            color: #000;
            text-align: center;
            font-family: "Inter";
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
             
            margin-right: 0.83rem;
          }
        }
      }
    }
    .history {
      margin-top: 0.7rem;
      width: 100%;
      border-radius: 1.33333rem;
      border: 0.3px solid rgba(255, 255, 255, 0.2);
      background: #e7eef5;
      box-shadow: -9px -9px 16px 0 rgba(255, 255, 255, 0.6),
        9px 9px 16px 0 rgba(163, 177, 198, 0.6);
      padding: 1.33rem 0px;
      .record_title {
        width: fit-content;
        font-family: "Inter";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
         
        padding: 0px 1.17rem 1.17rem 1.17rem;
       color: #0140E7;
      }
      .devider {
        background: linear-gradient(
          90deg,
          rgba(0, 213, 88, 0) 0%,
          #05fce9 50%,
          rgba(1, 64, 231, 0) 100%
        );
        height: 0.083rem;
        width: 100%;
      }
      .record_content {
        padding: 1.17rem 1.17rem 0px;
        .items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1.17rem;
          .item {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 0.5);
            font-family: "Inter";
            font-size: 1.16667rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            white-space: nowrap;
             
            &:first-child {
              // flex: auto;
              // max-width: 6.67rem;
              justify-content: flex-start;
            }
            &:last-child {
              flex: auto;
              max-width: 2rem;
              justify-content: flex-end;
            }
          }
        }
        .content_items {
          margin-top: 1rem;
          margin-bottom: 0px;
          .item {
            color: #000;

            &:first-child {
            }
            &:last-child {
            }
          }
        }
        .content_items_end {
          opacity: 0.5;
        }
      }
    }
  }
}
