.stake_page {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 3.67rem;
  .stake_title {
    padding: 0.92rem 1.73rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background: transparent;
    div {
      flex: 1;
      color: #fff;
      text-align: center;
      font-family: "Clash Display";
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem; /* 100% */
    }
    img {
      width: 1.8rem;
      height: 1.8rem;
      flex-shrink: 0;
    }
    .null {
      flex: auto;
      max-width: 1.8rem;
    }
  }
  .stake_content {
    width: 100%;
    padding: 1rem 1.5rem;
    .stake_box {
      border-radius: 2.5rem;
      border: 1px solid #9aa8d9;
      padding: 1.67rem 1.33rem;
      .stake_box_title {
        color: #fff;
        font-family: "Clash Display";
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 1rem;
      }
      .stake_box_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #7685bc;
        font-family: "Clash Display";
        font-size: 1.16667rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.67rem;
        .value {
          color: #fff;
          text-align: right;
          font-family: "Clash Display";
          font-size: 1.16667rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .dropdown {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.83rem 1.17rem;
          border-radius: 3.33333rem;
          background: #0d1a4e;
          color: #fff;
          font-family: "Clash Display";
          font-size: 1.16667rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          .value {
            width: 5rem;
            color: #fff;
            font-family: "Clash Display";
            font-size: 1.16667rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
          .StakeTimeDropDown {
            .item {
              color: #000;
              font-family: "Clash Display";
              font-size: 1.16667rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .active {
              color: #6b72ff;
              font-family: "Clash Display";
              font-size: 1.16667rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }
      }
      .stake_box_amount {
        color: #7685bc;
        font-family: "Clash Display";
        font-size: 1.16667rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 2rem;
        input {
          width: 100%;
          padding: 1.08rem 1.17rem;
          border-radius: 2.83333rem;
          background: #0d1a4e;
          border: none;
          margin: 0.83rem 0px 0.33rem;
          color: #fff;
          font-family: "Clash Display";
          font-size: 1.16667rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          &::placeholder {
            color: #7685bc;
            font-family: "Clash Display";
            font-size: 1.16667rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
      .stake_btn {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 83.25rem;
        background: #6b72ff;
        padding: 1rem;
        width: 100%;
        color: #fff;
        font-family: "Clash Display";
        font-size: 1.33333rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .tip {
        color: #ff3939;
        text-align: center;
        font-family: "Clash Display";
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .reword_box {
    margin-top: 1.67rem;
    .reword_box_title {
      color: #fff;
      font-family: "Clash Display";
      font-size: 1.33333rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .reword_box_content {
      padding: 1.67rem 1.33rem;
      margin-top: 0.83rem;
      border-radius: 0.83333rem;
      background: rgba(255, 255, 255, 0.08);
      .reword_box_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        .reword_box_item_left {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: #7685bc;
          font-family: "Clash Display";
          font-size: 1.16667rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          img {
            margin-left: 0.17rem;
          }
          .ant-tooltip-inner {
            border-radius: 0.83333rem;
            background: #f4f4f4;
            .tip {
              color: #000;
              font-family: "Clash Display";
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .ant-tooltip-arrow::before {
            background-color: #fff;
          }
        }
        .reword_box_item_right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: #fff;
          font-family: "Clash Display";
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.5rem;

          div {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            color: #fff;
            font-family: "Clash Display";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5rem;
            span {
              color: #fff;
              font-family: "Clash Display";
              font-size: 1rem;
              font-style: normal;
              font-weight: 600;
              line-height: 1.3rem;
            }
          }

          img {
            width: 1.33333rem;
            height: 1.33333rem;
            margin-right: 0.17rem;
          }
        }
      }
      .line {
        opacity: 0.6;
        background: rgba(154, 168, 217, 0.2);
        width: 100%;
        height: 0.08333rem;
        flex-shrink: 0;
        margin: 1.67rem 0px;
      }
      .withdraw_box {
        display: flex;
        align-items: center;
        flex-direction: column;
        .withdraw_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          border-radius: 83.25rem;
          background: #6b72ff;
          padding: 1rem;
          color: #fff;
          font-family: "Clash Display";
          font-size: 1.33333rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .record {
          margin-top: 0.54rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #7685bc;
          text-align: center;
          font-family: "Clash Display";
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          img {
          }
        }
      }
    }
  }
}
